.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  width: 100%;
  max-width: 100vw;
  padding: 20px;
  background-color: #98939e46;
  gap: 20px;
}

.error {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  color: rgb(238, 52, 52);
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}
