.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.h1 {
  text-align: center;
  color: #4285f4;
  margin-right: 15px;
}

.img {
  height: 80px;
  width: 80px;
}
